<div class="event-list">
  <table>
    <thead>
      <tr>
        <th class="date">Date</th>
        <th class="category">Skill</th>
        <th class="indicator">Indicator</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do | event | %>
      <tr class="event-row" data-toggle="event<%= event.id %>_details">
        <td class="date"><%= event.occurred_on.strftime("%B %d, %Y") %></td>
        <td class="category"><%= event.category.name %></td>
        <td class="indicator"><%= event.indicator%></td>
      </tr>
      <tr id="event<%= event.id %>_details" class="event-details">
        <td colspan="4">
          <dl class="horizontal">
            <dt>Observation:</dt>
            <dd><%= event.observations %></dd>
            <dt>Interpretation</dt>
            <dd><%= event.interpretation %></dd>
          </dl>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $(".event-row td").click(function(e) {
      $("#" + $(this).parent().data("toggle")).toggle();
    });

    $(".event-details").hide();
  });
</script>
