<ul class="nav nav-tabs">
  <li class="active">
    <a href="#activity">Activity List</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="activity">

    <div class="accordion" id="accordion2">
      <ul>
        <li>Date</li>
        <li>Domain</li>
        <li>Skill</li>
        <li>Indicator</li>
      </ul>

      <% @events.each do | event | %>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#event<%= event.id %>">
                <div><%= event.created_at.strftime("%a %b %d %Y") %></div>
                <div><%= event.category.parent_category.description %></div>
                <div><%= event.category.description %></div>
                <div><%= event.indicator%></div>
              </a>
            </div>
            <div id="event<%= event.id %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <strong>Observation:</strong> <%= event.observations %>
                <br/>   <br/>
                <strong>Interpretation:</strong> <%= event.interpretation %>
              </div>
            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>