 <div class="hero-blurb" style="margin: 0 auto; width:900px;">
  <%= link_to educators_path do %>
 <h3 class="nav-header3">Class List > <%= @child.first_name %></h3>
<% end %>
  <%= render "profile" %>


<div class="row-fluid content-area">
  <div class="span3">
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= params[:action] == "activity" ? "active" : "" %>">
        <%= link_to "Log Activity", activity_child_path %>
      </li>
      <li class="<%= params[:action] == "activity_list" ? "active" : "" %>">
        <%= link_to "View List", activity_list_child_path %>
      </li>
      <li class="<%= params[:action] == "activity_timeline" ? "active" : "" %>">
        <%= link_to "View Timeline", activity_timeline_child_path %>
      </li>
    </ul>
  </div>
  <div class="span9">

    <%= render params[:action] %>

  </div>
</div>

