<div class="content-container">

  <h2>My Family > <%= @child.first_name %></h2>

  <section class="profile content-area">
    <%= image_tag asset_path "avatars/" + @child.picture_url %>
    <dl class="horizontal">
      <dt>Name</dt>
      <dd><%= @child.first_name %> <%= @child.last_name %></dd>
      <dt>Date of Birth</dt>
      <dd><%= @child.birthdate.strftime("%B %d, %Y") %></dd>
      <dt>Known Health Concerns</dt>
      <dd><%= format_health_notes(@child) %></dd>
      <dt>Home Address</dt>
      <dd><%= format_address(@child) %></dd>
    </dl>
  <div class="clearfix"></div>
  </section>


  <section class="records content-area">
      <div id="timeline-embed">
        <div id="timeline"></div>
      </div>
  </section>

  <script type="text/javascript">
	$(document).ready(function() {

		var timeline = <%= child_timeline_json(@child) %>

	    createStoryJS({
        // debug: true,
	    	type: "timeline",
  			width:      '100%',
  			height:     '400',
  			js: '/assets/timeline.js',
  			css:  '/assets/timeline.css',
  			source: timeline,
  			embed_id:   'timeline-embed'
  		});

      $('#recordTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });
	});
  </script>
</div>
