<div class="hero-blurb" style="margin: 0 auto; width:900px;">
<h2>My Family</h2>

<div class="family people content-area">
  <h3>Children
  <%= link_to "add my child", new_child_path, :class=>"button add-child" %>
</h3> 
  <ul>
  <% @children.each_with_index do |child, index| %>
      <%= link_to child_path( child ) do %>
      <li class="child-li">
        <article>
            <aside class="profile">
             <%= link_to child_path( child ) do %>
              <dl>
                <dt>Name</dt>
                <dd><%= child.first_name %> <%= child.last_name %></dd>
                <dt>Educational Setting</dt>
                <dd><%= child.educational_setting %></dd>
                <dt>Date of Birth</dt>
                <dd><%= child.birthdate.strftime("%B %d, %Y") %></dd>
                <dt>Known Health Concerns</dt>
                <dd><%= format_health_notes(child) %></dd>
                <dt>Home Address</dt>
                <dd><%= format_address(child) %></dd>
                <% if index == 0 %>
                <dt><strong>NEW Activities!</strong></dt>
                <dd><span class="badge">2</span></dd>
                <% end %>
              </dl>
            </aside>
            <section class="person">
                <header>
                  <h4><%= child.first_name %></h4>
                </header>
                <%= image_tag(asset_path("avatars/" + child.picture_url), :class => "child-pic") %>
            </section>
            <div class="clearfix"></div>
        </article>
            <% end %>
      </li>
                    <% end %>
  <% end %>
  </ul>
  <div class="clearfix"></div>
</div>

</div>