<div class="hero-blurb" style="margin: 0 auto; width:900px;">
<h2>My Family</h2>

<div class="people content-area">
  <h3>Children </h3>
<!-- <%= link_to "Add New Child", new_child_path, :class=>"button add-child" %> -->
  <ul>
  <% @children.each do |child| %>
      <li>
        <article>
          <section class="person">
             <%= link_to child_path( child ) do %>
              <header>
                <h4><%= child.first_name %></h4>
              </header>
              <%= image_tag(asset_path("avatars/" + child.picture_url), :class => "child-pic") %>
            <% end %>
          </section>
          <section class="tools">
            <a href="<%= child_path( child ) %>"><i class="icon-zoom-in"></i></a>
            <a href="#"><i class="icon-plus-sign"></i></a>
            <a href="#"><i class="icon-remove-sign"></i></a>
          </section>
        </article>
      </li>
  <% end %>
  <li>
      <article>
        <section class="person">
          <%= link_to new_child_path do %>
            <header>
              <h4> Add new </h4>
            </header>
            <div class="child-pic">
             <i style="line-height:120px;" class="special-plus icon-plus-sign"></i>
            </div>
          <% end %>
        </section>
      </article>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>

</div>