             
<!-- Hero Unit-->
<div id="hero-unit">
    <div class="hero-unit-cont">
        <div class="hero-blurb">
            <h1>It's about<br/>relationships.</h1>
            <div class="hero-text">
                Early childhood development sets the foundation for life long learning, behaviour, and health. That's why LearningLoop makes it easier than ever to keep track of your child's milestones, and work as a team with their educators. You can even talk to your child's ECE about questions you might have.
                <br/>
            </div>
        </div>
    </div>
    
</div>

    <div id="content">

        <div class="select-role">
            <div class="select-role-cont">
                <h3>To start, please pick your role:</h3>
                <%= link_to "Educator", "/signup", :class => "edu" %>
                 <%= link_to "Parent/Caregiver", "/signup", :class => "par" %>
                <a href="#video" role="button" class="button launch-video" data-toggle="modal">View Video</a>
            </div>
        </div>

        <div class="value-cont">
            <div class="value">

                <div class="one">
                 <%= image_tag asset_path("homepage/kid1.jpg") %>
                 Fosters respect in children for diversity, equity and inclusion
             </div>

             <div class="two">
                 <%= image_tag asset_path("homepage/kid2.jpg") %>
                 Strengthens the ability of early childhood settings to meet the needs of young children
             </div>

             <div class="three">
                 <%= image_tag asset_path("homepage/kid3.jpg") %>
                 Strengthens partnerships between families &amp; communities.
             </div>

         </div>
     </div>
 </div>

 <div id="video" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sendMessageLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="sendMessageLabel">Learning Loop Preview</h3>
  </div>
  <div class="modal-body">
    <iframe class="our-video" width="853" height="480" src="//www.youtube.com/embed/UeVMBvmwMyM?hd=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
