<!DOCTYPE html>
<html>
<head>
  <title>LearningLoop | Linking families with educators</title>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
   <header id="primaryHeader">
        <div class="header-cont">
            <div class="header-cont-float">
              <%= link_to root_path  do%>
                <div class="logo"></div>
              <% end %>
            <nav>
              <a href="#video" role="button" class="button launch-video" data-toggle="modal">Take a Tour</a>

                <a href="/firstpeek"> <img src="<%= asset_path("homepage/peek.png") %>" style="width:autopx; height:35px;"> </a>
            </nav>
        </div>
        </div>
    </header>
    <div class="tagline">
        <div class="tagline-cont">
        Linking families with educators
        <aside class="social">
            <div class="soc-button">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="learning_loop" data-hashtags="LoopLove">Tweet</a>
            </div>
            <div class="soc-button">
                <div class="fb-like" data-href="http://www.learningloop.co/" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
            </div>

        </aside>
        </div>
    </div>
                 
        <div class="stary-background">
		    <%= yield %>
        </div>
        
        <div class="pre-footer-cont">
        <div id="pre-footer">
            <p id="quotes"><span id="whole-quote"><span id="txt"></span><span id="author"><span></span></p>
            <div class="footer-links">
                <a href="/aboutus">About Us</a>
                <a href="<%= asset_path("SurveyResults.pdf") %>">Resources</a>
<!--                 <a href="#">How-To</a>
                <a href="#">Support</a>
 -->            </div>
        </div>
        </div>
        
        <div class="footer-cont">
        <footer>
        <div class="footer-logo">
                <%= image_tag asset_path("homepage/baby-bird.png") %>
        </div>
        
            <div class="footer-copy">
            2013 &copy; LearningLoop
            </div>
        </footer>
        </div>


 <div id="video" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sendMessageLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="sendMessageLabel">Learning Loop Preview</h3>
  </div>
  <div class="modal-body">
    <iframe id="videoFrame" class="our-video" width="853" height="480" src="//www.youtube.com/embed/UeVMBvmwMyM?hd=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            <script>
/**
 * @author       Rob W <gwnRob@gmail.com>
 * @website      http://stackoverflow.com/a/7513356/938089
 * @version      20120724
 * @description  Executes function on a framed YouTube video (see website link)
 *               For a full list of possible functions, see:
 *               https://developers.google.com/youtube/js_api_reference
 * @param String frame_id The id of (the div containing) the frame
 * @param String func     Desired function to call, eg. "playVideo"
 *        (Function)      Function to call when the player is ready.
 * @param Array  args     (optional) List of arguments to pass to function func*/
function callPlayer(frame_id, func, args) {
    if (window.jQuery && frame_id instanceof jQuery) frame_id = frame_id.get(0).id;
    var iframe = document.getElementById(frame_id);
    if (iframe && iframe.tagName.toUpperCase() != 'IFRAME') {
        iframe = iframe.getElementsByTagName('iframe')[0];
    }

    // When the player is not ready yet, add the event to a queue
    // Each frame_id is associated with an own queue.
    // Each queue has three possible states:
    //  undefined = uninitialised / array = queue / 0 = ready
    if (!callPlayer.queue) callPlayer.queue = {};
    var queue = callPlayer.queue[frame_id],
        domReady = document.readyState == 'complete';

    if (domReady && !iframe) {
        // DOM is ready and iframe does not exist. Log a message
        window.console && console.log('callPlayer: Frame not found; id=' + frame_id);
        if (queue) clearInterval(queue.poller);
    } else if (func === 'listening') {
        // Sending the "listener" message to the frame, to request status updates
        if (iframe && iframe.contentWindow) {
            func = '{"event":"listening","id":' + JSON.stringify(''+frame_id) + '}';
            iframe.contentWindow.postMessage(func, '*');
        }
    } else if (!domReady || iframe && (!iframe.contentWindow || queue && !queue.ready)) {
        if (!queue) queue = callPlayer.queue[frame_id] = [];
        queue.push([func, args]);
        if (!('poller' in queue)) {
            // keep polling until the document and frame is ready
            queue.poller = setInterval(function() {
                callPlayer(frame_id, 'listening');
            }, 250);
            // Add a global "message" event listener, to catch status updates:
            messageEvent(1, function runOnceReady(e) {
                var tmp = JSON.parse(e.data);
                if (tmp && tmp.id == frame_id && tmp.event == 'onReady') {
                    // YT Player says that they're ready, so mark the player as ready
                    clearInterval(queue.poller);
                    queue.ready = true;
                    messageEvent(0, runOnceReady);
                    // .. and release the queue:
                    while (tmp = queue.shift()) {
                        callPlayer(frame_id, tmp[0], tmp[1]);
                    }
                }
            }, false);
        }
    } else if (iframe && iframe.contentWindow) {
        // When a function is supplied, just call it (like "onYouTubePlayerReady")
        if (func.call) return func();
        // Frame exists, send message
        iframe.contentWindow.postMessage(JSON.stringify({
            "event": "command",
            "func": func,
            "args": args || [],
            "id": frame_id
        }), "*");
    }
    /* IE8 does not support addEventListener... */
    function messageEvent(add, listener) {
        var w3 = add ? window.addEventListener : window.removeEventListener;
        w3 ?
            w3('message', listener, !1)
        :
            (add ? window.attachEvent : window.detachEvent)('onmessage', listener);
    }
}


      $(document).ready(function() {
        $("#video").on("shown", function() {
          callPlayer("videoFrame", "playVideo");
        });
        $("#video").on("hide", function() {
          callPlayer("videoFrame", "stopVideo");
        });
      });

                </script>
    </body>
</html>

