<!DOCTYPE html>
<html>
<head>
  <title>LearningLoop | Linking families with educators</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="header-bg"></div>
    <div class="tagline-bg"></div>
    <div class="hero-bg"></div>
      <header>
          <div class="logo">
          </div>
          <nav>
            <a href="#">Privacy</a>
            <a href="#">Pricing</a>
            <a href="#">Support</a>
          </nav>
          <div class="tagline">
              Linking families with educators
          </div>
      </header>
            
		  <%= yield %>

        <div id="pre-footer">
          <div class="footer-links">
            <a href="#">About Us</a>
            <a href="#">Our Team</a>
            <a href="#">FAQ</a>
            <a href="#">How-To</a>
            <a href="#">Support</a>
          </div>
          
          <div class="footer-logo">
            <%= image_tag asset_path("homepage/baby-bird.png") %>
          </div>
        </div>
        <footer>
          <div class="footer-copy">
          2013 &copy; Startup Weekend TO : EDU
          </div>
        </footer>
</body>
</html>
