<!DOCTYPE html>
<html>
<head>
  <title>LearningLoop | Linking families with educators</title>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
   <header id="primaryHeader">
        <div class="header-cont">
            <div class="header-cont-float">
              <%= link_to root_path  do%>
                <div class="logo"></div>
              <% end %>
            <nav>
                <a href="#">Privacy</a>
                <a href="#">Pricing</a>
                <a href="#">Support</a>
              <a href="#video" role="button" class="button launch-video" data-toggle="modal">Take a Tour</a>
                <a href="/firstpeek">First Peek</a>
            </nav>
        </div>
        </div>
    </header>
    <div class="tagline">
        <div class="tagline-cont">
        Linking families with educators
        <aside class="social">
            <div class="soc-button">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="learning_loop" data-hashtags="LoopLove">Tweet</a>
            </div>
            <div class="soc-button">
                <div class="fb-like" data-href="http://www.learningloop.co/" data-width="450" data-layout="button_count" data-show-faces="true" data-send="true"></div>
            </div>

        </aside>
        </div>
    </div>
                 
        <div class="stary-background">
		    <%= yield %>
        </div>
        
        <div class="pre-footer-cont">
        <div id="pre-footer">
<!--             <p id="quotes"><span id="whole-quote"><span id="txt"></span><span id="author"><span></span></p>
 -->            <div class="footer-links">
                <a href="/aboutus">About Us</a>
                <a href="#">FAQ</a>
                <a href="#">How-To</a>
                <a href="#">Support</a>
            </div>
        </div>
        </div>
        
        <div class="footer-cont">
        <footer>
        <div class="footer-logo">
                <%= image_tag asset_path("homepage/baby-bird.png") %>
        </div>
        
            <div class="footer-copy">
            2013 &copy; LearningLoop
            </div>
        </footer>
        </div>


 <div id="video" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sendMessageLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="sendMessageLabel">Learning Loop Preview</h3>
  </div>
  <div class="modal-body">
    <iframe class="our-video" width="853" height="480" src="//www.youtube.com/embed/UeVMBvmwMyM?hd=1&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </body>
</html>

